@tailwind base;
@tailwind components;
@tailwind utilities;

button:hover {
  box-shadow: 0rem 0.2rem 0.2rem 0.2rem #00000018;
  transition: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4081;
  border-radius: 100rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d81b60;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
